.c-table {
  width: 100%;

  &__row {
    border-top: 1px solid #000;
  }
  &__head, &__content {
    padding: 6px;
    text-align: left;
    vertical-align: middle;
  }
  &__content {
    &--text {
      width: 50%;
      line-height: 1.4;
      letter-spacing: 1.5px;
    }
  }
}